:root {
  --bg-color: rgb(42,0,0);
  --border-color: red;
  --div-bg-color: rgba(0,0,0,0.75);
  --font-color: whitesmoke;
  --hover-color: rgba(255,0,0,0.25)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: grid;
  /* grid-template-columns: 1fr 3fr 6fr 3fr 1fr; this is for desktop */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 8fr 4rem;
  color: var(--font-color);
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  padding: 2rem;
}

.wrapper > div:not(#contact-form, .navbar) {
  background-color: var(--div-bg-color);
  border: 2px dashed var(--border-color);
}

.clickable:hover {
  background-color: var(--hover-color);
  cursor: pointer;
  user-select: none;
}

.dw-button {
  display: flex;
  flex-direction: column;
  justify-content: left;
  grid-area: 1/1 / 1/3;
  min-width: 100%;
}

.dw-button > div {
  padding: 1rem 2rem;

}

.dw-wrapper {
  font-size: 2rem;
  font-weight: 600;
  height: 100%;
  width: 100%;
}

.about-text {
  grid-area: 2/1 / 2/3;
  display: none;
  height: 0%;
}
.about-text-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  grid-area: 2/1 / 2/3;
  align-self: flex-start;
  height: 100%;
  transition: all 0.5s ease;
}

.about-text > p {
  padding-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: 3/1 / 3/3;
  background-color: var(--bg-color);
  border-left: 2px dashed red;
  border-right: 2px dashed red;
  border-bottom: 2px dashed red;
  border-top: 2px dashed red;
  background-color: var(--div-bg-color);
}
.navbar-dropdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: 3/1 / 3/3;
  background-color: var(--bg-color);
  border-left: 2px dashed red;
  border-right: 2px dashed red;
  border-bottom: 2px dashed red;
  border-top: 0px solid rgba(0,0,0,0);
  background-color: var(--div-bg-color);
}

.navbar > div:hover {
  background-color: var(--hover-color);
}

.home {
  display: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.reel {
  display: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.contact-desktop {
  display: none;
}

.contact-form {
  display: none;
  grid-area: 2/1 / 2/3;
  align-self: flex-end;
  border-top: 2px dashed red;
  border-left: 2px dashed red;
  border-right: 2px dashed red;
  background-color: var(--div-bg-color);
}

.contact-form-dropdown {
  display: block;
  grid-area: 2/1 / 2/3;
  align-self: flex-end;
  margin-top: 2rem;
}

.carat {
  display: none;
}

.contact-form {
  padding: 0 1rem;
}

.contact-form input, label, textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  color: whitesmoke;
}

.contact-form label > p {
  padding-bottom: 0.2rem;
}

.contact-form input {
  border: 1px solid red;
  height: 2rem;
  background-color: rgba(0,0,0,0);
  padding-bottom: 0.6rem;
}

.contact-form textarea {
  border: 1px solid red;
  background-color: rgba(0,0,0,0);
  height: 16rem;
}

.contact-form p {
  padding-top: 1rem;
}

.contact-form button {
  margin: 1rem 0;
}

textarea:hover, input:hover {
  background-color: rgba(255, 0, 0, 0.25);
  transition: all 0.1s ease;
}

textarea:focus, input:focus {
  background-color: rgba(255, 0, 0, 0.25);
  outline: none;
  transition: all 0.1s ease;

}

#send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 100%;
  border-radius: 0px;
  border: 1px solid red;
  color: whitesmoke;
  outline: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

#send-button:hover {
  background-color: var(--hover-color);
}

.turn-red {
  background-color: var(--hover-color);
}