:root {
  --bg-color: rgb(42, 0, 0);
  --border-color: red;
  --div-bg-color: rgba(0, 0, 0, 0.75);
  --font-color: whitesmoke;
  --hover-color: rgba(255, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: grid;
  /* grid-template-columns: 1fr 3fr 6fr 3fr 1fr; this is for desktop */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 8fr 4rem;
  color: var(--font-color);
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  padding: 2rem;
}

.clickable:hover {
  text-shadow: 0 0 1rem whitesmoke;
  cursor: pointer;
  user-select: none;
  transition: text-shadow 0.3s ease;
}

.dw-button {
  grid-area: 1/1 / 1/3;
  min-width: 100%;
  background-color: var(--div-bg-color);
  border-left: 2px dashed red;
  border-right: 2px dashed red;
  border-bottom: 2px dashed red;
  border-top: 2px dashed red;
  transition: border-bottom 0s 0.3s;
}

.dw-button-dropdown {
  border-bottom: none;
  transition: border-bottom 0s 0.3s;
}

.dw-button > p {
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  max-height: 100%;
  width: 100%;
}

.about-text {
  grid-area: 2/1 / 2/3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-end;
  max-height: 0;
  opacity: 0;
  border-left: 2px dashed red;
  border-right: 2px dashed red;
  border-bottom: 2px dashed red;
  background-color: var(--div-bg-color);
  transition: max-height 0.3s ease, opacity 0s 0.3s;
}
.about-text-dropdown {
  opacity: 1;
  max-height: 50%;
  transition: max-height 0.3s ease;
}

.about-text > p {
  padding:  0.5rem 2rem 0.5rem 2rem;
}

.about-text > p:last-child {
  padding-bottom: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: 3/1 / 3/3;
  background-color: var(--div-bg-color);
  border-left: 2px dashed red;
  border-right: 2px dashed red;
  border-bottom: 2px dashed red;
  border-top: 2px dashed red;
  transition: border-top 0s 0.3s;
}
.navbar-dropdown {
  border-left: 2px dashed red;
  border-right: 2px dashed red;
  border-bottom: 2px dashed red;
  border-top: none;
}

.home {
  display: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.reel {
  display: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.contact-desktop {
  display: none;
}

.contact-form {
  opacity: 0;
  overflow: hidden;
  grid-area: 2/1 / 2/3;
  align-self: flex-end;
  border-top: 2px dashed red;
  border-left: 2px dashed red;
  border-right: 2px dashed red;
  background-color: var(--div-bg-color);
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0s 0.3s;
}

.contact-form.contact-form-dropdown {
  opacity: 1;
  max-height: 100%;
  transition: max-height 0.3s ease;
}

.contact-form-dropdown {
  grid-area: 2/1 / 2/3;
  align-self: flex-end;
  margin-top: 2rem;
}

.carat {
  display: none;
}

.contact-form {
  padding: 0 1rem;
}

.contact-form input,
label,
textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  color: whitesmoke;
}

.contact-form label > p {
  padding-bottom: 0.2rem;
}

.contact-form input {
  border: 1px solid red;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 0.6rem;
}

.contact-form textarea {
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0);
  height: 16rem;
}

.contact-form p {
  padding-top: 1rem;
}

.contact-form button {
  margin: 1rem 0;
}

textarea:hover,
input:hover {
  /* background-color: rgba(255, 0, 0, 0.25); */
  box-shadow: inset 0 0 0.6rem red;
  transition: all 0.1s ease;
}

textarea:focus,
input:focus {
  box-shadow: inset 0 0 0.6rem red;
  outline: none;
  transition: all 0.1s ease;
}

#send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 100%;
  border-radius: 0px;
  border: 1px solid red;
  color: whitesmoke;
  outline: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.selected {
  text-shadow: 0 0 1rem whitesmoke;
  transition: all 0.3s ease;
}
